.send-button {
    margin-top: 2vh;
    height: 3.5vh;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.checkMark {
    width: 50px;
    display: block;
    position: absolute;
    top: 27%;
    padding: 5px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

textarea:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

._button {
    width: 100%;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 2px;
    font: 300 14px 'Poppins', sans-serif;
    letter-spacing: 2px;
}

._button:hover {
    transform: translate3d(0px, -26px, 0px);
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}