name: Test Frontend + Backend

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install
      run: |
        yarn
    - name: frontend test
      run: |
        yarn workspace client build
        yarn workspace client test
      env:
        CI: true
    - name: backend test
      run: |
        yarn workspace server test
      env:
        CI: true
